body{
    margin:0;
    background:#111;
    color:white;
    font-family:Arial;
}

.container{
    display:flex;
    gap:20px;
    padding:20px;
}

.card{
    background:#1e1e1e;
    padding:20px;
    border-radius:15px;
    width:300px;
    box-shadow:0 0 15px rgba(0,0,0,0.5);
}